@model List<BooksReadedMVC.Models.Book>

@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          asp-href-include="/lib/bootstrap/dist/**/*.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <title>Books</title>
</head>
<body>
    <div class="container">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Year of Publication</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Model)
                {
                    <tr>
                        <td>@book.Title</td>
                        <td>@book.Author.Name</td>
                        <td>@book.YearPublication</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
